{%- style -%}
  .product-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 1rem 5rem;
  }
  .media-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .media-img {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }
{%- endstyle -%}

{%- javascript -%}
  document.querySelector('.add-to-cart-form')?.addEventListener('submit', function (e) {
    console.log(123);
    e.preventDefault();
    let formData = new FormData(this);
    this.cart = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
    if (this.cart) {
      formData.append(
        'sections',
        this.cart.getSectionsToRender().map((section) => section.id)
      );
      formData.append('sections_url', window.location.pathname);
      this.cart.setActiveElement(document.activeElement);
    }

    fetch('/cart/add.js', {
      method: 'POST',
      body: formData,
    })
      .then((response) => response.json())
      .then((response) => {
        if (response.sections) {
          this.cart.renderContents(response);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });
{%- endjavascript -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'product' -%}
      <form
        method="post"
        id="product-form-{{ block.id }}"
        class="add-to-cart-form"
      >
        <input type="hidden" name="id" value="{{ block.settings.product.variants.first.id }}">
        <div>
          <button type="submit" name="add">Add to cart</button>
        </div>
      </form>

      <div class="product-container">
        <div class="underline "><b>Product name:</b> {{ block.settings.product.title }}</div>
        <div><b>Product vendor:</b> {{ block.settings.product.vendor }}</div>
        <div><b>Product price:</b> {{ block.settings.product.price }}</div>
        <div>
          <b>Variants:</b>
          <ul>
            {%- for variant in block.settings.product.variants -%}
              <li>{{ variant.title }}</li>
            {% endfor %}
          </ul>
        </div>
        {%- if block.settings.product.featured_image != null -%}
          <div>
            <b>Product image</b>
            <img
              src="{{ block.settings.product.featured_image | image_url }}"
              height="auto"
              width="300"
            >
          </div>
        {%- else -%}
          There are no images
        {%- endif -%}

        {%- if block.settings.product.featured_media != null -%}
          <div>
            <b>Product media</b>
            <div class="media-img-container">
              {%- if block.settings.product.media[1] != null -%}
                {%- for media in block.settings.product.media -%}
                  <img
                    class="media-img"
                    src="{{ media | image_url }}"
                    width="300"
                    height="auto"
                  >
                {%- endfor %}
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          There are no medias
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "Media Gallery",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "media_gallery_title",
      "label": "Heading",
      "default": "Media gallery",
      "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text."
    },
    {
      "type": "select",
      "id": "marker_alignment",
      "label": "Marker",
      "options": [
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "font highlight",
          "label": "Font highlight"
        }
      ],
      "default": "underline"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading size",
      "unit": "%",
      "min": 50,
      "max": 200,
      "step": 10,
      "default": 100
    },
    {
      "type": "select",
      "id": "tax_sizes",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "subheading_title",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 3,
      "id": "columns_range",
      "label": "Number of columns"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 28,
      "id": "block_spacing_range",
      "unit": "px",
      "label": "Block spacing"
    },
    {
      "type": "range",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 300,
      "id": "row_height_range",
      "unit": "px",
      "label": "Row height"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "Show section divider"
    },
    {
      "type": "checkbox",
      "id": "make_section_full_width",
      "label": "Make section full width"
    },
    {
      "type": "checkbox",
      "id": "enable_side_padding",
      "label": "Enable side padding",
      "info": "Add left and right padding when section is full-width."
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 28,
      "id": "top_padding",
      "unit": "px",
      "label": "Top padding"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 28,
      "id": "bottom_padding",
      "unit": "px",
      "label": "Bottom padding"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "label": "Enable swipe on mobile",
      "id": "enable_swipe_mobile"
    },
    {
      "type": "radio",
      "label": "Number of columns",
      "id": "columns_radio",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ],
      "default": "1",
      "info": "Only applies when a carousel is not used on mobile."
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 16,
      "id": "block_spacing_mobile_range",
      "unit": "px",
      "label": "Block spacing"
    },
    {
      "type": "range",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 250,
      "id": "row_height_mobile_range",
      "unit": "px",
      "label": "Row height"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "label": "Show section divider"
    },
    {
      "type": "checkbox",
      "id": "make_section_full_width_mobile",
      "label": "Make section full width"
    },
    {
      "type": "checkbox",
      "id": "enable_side_padding_mobile",
      "label": "Enable side padding",
      "info": "Add left and right padding when section is full-width."
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 28,
      "id": "top_padding_mobile",
      "unit": "px",
      "label": "Top padding"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 28,
      "id": "bottom_padding_mobile",
      "unit": "px",
      "label": "Bottom padding"
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section)."
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile image",
          "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section)."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "label": "Open this link in a new window",
          "id": "open_link_checkbox"
        },
        {
          "type": "video",
          "label": "Video",
          "id": "video"
        },
        {
          "type": "checkbox",
          "label": "Show sound control",
          "id": "show_sound_control_checkbox",
          "info": "Applies to auto play videos only."
        },
        {
          "type": "header",
          "content": "Or embed video from url",
          "info": "Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "video_url",
          "id": "video_url",
          "info": "Supports YouTube and Vimeo.",
          "label": "URL",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "checkbox",
          "label": "Enable video autoplay",
          "id": "enable_video_autoplay_checkbox",
          "info": "Video will be muted when autoplay is on.",
          "default": true
        },
        {
          "type": "text",
          "id": "video_alt_text",
          "label": "Video alt text"
        },
        {
          "type": "header",
          "content": "Overlay content"
        },
        {
          "type": "checkbox",
          "label": "Enable content overlay",
          "id": "enable_content_overlay_checkbox",
          "default": true
        },
        {
          "type": "select",
          "id": "overlay_alignment",
          "label": "Overlay content position",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "label": "Overlay opacity",
          "unit": "%",
          "max": 100,
          "min": 0,
          "id": "overlay_opacity_range",
          "default": 0
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "label": "Number of columns wide",
          "id": "columns_wide_range",
          "info": "Only applies when a carousel is not used on mobile.",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 2
        },
        {
          "type": "range",
          "label": "Number of rows tall",
          "id": "rows_tall_range",
          "info": "Only applies when a carousel is not used on mobile.",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
        },
        {
          "type": "select",
          "id": "icons_select",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "camera",
              "label": "Camera"
            },
            {
              "value": "video",
              "label": "Video"
            },
            {
              "value": "gallery",
              "label": "Gallery"
            },
            {
              "value": "audio",
              "label": "Audio"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "another_icon_text",
          "label": "Use another icon",
          "info": "If you want to use different icons from the options above, look for an icon from our [icon list](https://support.omnithemes.com/blogs/user-guide/theme-icons) and fill the icon name here (E.g: price tag)."
        },
        {
          "type": "textarea",
          "label": "Custom icon (SVG code)",
          "id": "svg_textarea",
          "info": "For assistance with custom SVG code or fixing issues that arise from custom SVG code, please [contact our support](https://omnithemes.com/contact/)."
        },
        {
          "type": "range",
          "unit": "px",
          "default": 45,
          "min": 20,
          "max": 90,
          "step": 1,
          "id": "icon_size_range",
          "label": "Icon size"
        },
        {
          "type": "text",
          "id": "subtitle_text",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title",
          "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text.",
          "default": "Media heading"
        },
        {
          "type": "select",
          "id": "marker_alignment",
          "label": "Marker",
          "options": [
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "font highlight",
              "label": "Font highlight"
            }
          ],
          "default": "underline"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Title size",
          "unit": "%",
          "min": 50,
          "max": 200,
          "step": 10,
          "default": 80
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "unit": "%",
          "min": 50,
          "max": 200,
          "step": 10,
          "default": 130
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "media_position_select",
          "label": "Media position",
          "options": [
            {
              "value": "image first",
              "label": "Image first"
            },
            {
              "value": "image second",
              "label": "Image Second"
            }
          ],
          "default": "image first",
          "info": "Does not apply for overlay content."
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "btn_label_text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "label": "Open this link in a new window",
          "id": "open_button_link_checkbox"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "text link",
              "label": "Text link"
            }
          ],
          "default": "primary"
        },
        {
          "type": "color",
          "label": "Image treatment",
          "id": "img_treatment"
        },
        {
          "type": "color",
          "label": "Title color",
          "id": "title_color"
        },
        {
          "type": "color",
          "label": "Text color",
          "id": "text_color"
        },
        {
          "type": "color",
          "label": "Heading highlight color",
          "id": "heading_highlight_color"
        },
        {
          "type": "color",
          "label": "Button text color",
          "id": "button_text_color"
        },
        {
          "type": "color",
          "label": "Button color",
          "id": "button_color"
        },
        {
          "type": "color",
          "label": "Button text hover color",
          "id": "button_text_hover_color"
        },
        {
          "type": "color",
          "label": "Button hover color",
          "id": "button_hover_color"
        },
        {
          "type": "color",
          "label": "Secondary button color",
          "id": "secondary_button_color"
        },
        {
          "type": "color",
          "label": "Secondary button text color",
          "id": "secondary_button_text_color"
        },
        {
          "type": "color",
          "label": "Text link",
          "id": "text_link"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "label": "Open this link in a new window",
          "id": "open_link_checkbox"
        },
        {
          "type": "header",
          "content": "Overlay content"
        },
        {
          "type": "checkbox",
          "label": "Enable content overlay",
          "id": "enable_content_overlay_checkbox",
          "default": true
        },
        {
          "type": "select",
          "id": "overlay_alignment",
          "label": "Overlay content position",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "label": "Overlay opacity",
          "unit": "%",
          "max": 100,
          "min": 0,
          "id": "overlay_opacity_range",
          "default": 0
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "label": "Number of columns wide",
          "id": "columns_wide_range",
          "info": "Only applies when a carousel is not used on mobile.",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 2
        },
        {
          "type": "range",
          "label": "Number of rows tall",
          "id": "rows_tall_range",
          "info": "Only applies when a carousel is not used on mobile.",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
        },
        {
          "type": "select",
          "id": "icons_select",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "camera",
              "label": "Camera"
            },
            {
              "value": "video",
              "label": "Video"
            },
            {
              "value": "gallery",
              "label": "Gallery"
            },
            {
              "value": "audio",
              "label": "Audio"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "another_icon_text",
          "label": "Use another icon",
          "info": "If you want to use different icons from the options above, look for an icon from our [icon list](https://support.omnithemes.com/blogs/user-guide/theme-icons) and fill the icon name here (E.g: price tag)."
        },
        {
          "type": "textarea",
          "label": "Custom icon (SVG code)",
          "id": "svg_textarea",
          "info": "For assistance with custom SVG code or fixing issues that arise from custom SVG code, please [contact our support](https://omnithemes.com/contact/)."
        },
        {
          "type": "range",
          "unit": "px",
          "default": 45,
          "min": 20,
          "max": 90,
          "step": 1,
          "id": "icon_size_range",
          "label": "Icon size"
        },
        {
          "type": "text",
          "id": "subtitle_text",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title",
          "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text.",
          "default": "Media heading"
        },
        {
          "type": "select",
          "id": "marker_alignment",
          "label": "Marker",
          "options": [
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "font highlight",
              "label": "Font highlight"
            }
          ],
          "default": "underline"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Title size",
          "unit": "%",
          "min": 50,
          "max": 200,
          "step": 10,
          "default": 80
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "unit": "%",
          "min": 50,
          "max": 200,
          "step": 10,
          "default": 130
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "media_position_select",
          "label": "Media position",
          "options": [
            {
              "value": "image first",
              "label": "Image first"
            },
            {
              "value": "image second",
              "label": "Image Second"
            }
          ],
          "default": "image first",
          "info": "Does not apply for overlay content."
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "btn_label_text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "label": "Open this link in a new window",
          "id": "open_button_link_checkbox"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "text link",
              "label": "Text link"
            }
          ],
          "default": "primary"
        },
        {
          "type": "color",
          "label": "Image treatment",
          "id": "img_treatment"
        },
        {
          "type": "color",
          "label": "Title color",
          "id": "title_color"
        },
        {
          "type": "color",
          "label": "Text color",
          "id": "text_color"
        },
        {
          "type": "color",
          "label": "Heading highlight color",
          "id": "heading_highlight_color"
        },
        {
          "type": "color",
          "label": "Button text color",
          "id": "button_text_color"
        },
        {
          "type": "color",
          "label": "Button color",
          "id": "button_color"
        },
        {
          "type": "color",
          "label": "Button text hover color",
          "id": "button_text_hover_color"
        },
        {
          "type": "color",
          "label": "Button hover color",
          "id": "button_hover_color"
        },
        {
          "type": "color",
          "label": "Secondary button color",
          "id": "secondary_button_color"
        },
        {
          "type": "color",
          "label": "Secondary button text color",
          "id": "secondary_button_text_color"
        },
        {
          "type": "color",
          "label": "Text link",
          "id": "text_link"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Media gallery",
      "blocks": [
        {
          "type": "media"
        }
      ]
    }
  ]
}
{% endschema %}
